.generate-button {
  background: transparent;
  border: 2px solid #39ff14;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.generate-button:hover {
  background: #39ff14;
  color: black;
}

.input-neon {
  background-color: #0f172a;
  border: 2px solid #39ff14;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
