* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.body {
  background: linear-gradient(135deg, #0f172a, #14532d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #00ff00;
  box-shadow: 0 0 20px #00ff00;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

button,
.generate-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px #00ff00;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover,
.generate-button:hover {
  background-color: #00ff00;
  color: #000;
}

.input-neon {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #00ff00;
  background-color: #0f172a;
  color: white;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 0 10px #00ff00;
  margin-top: 10px;
}

.ranking,
.premiadas {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00ff00;
  margin: 20px 0;
  box-shadow: 0 0 10px #00ff00;
}

.bola-sorteada {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  background-color: #222;
  color: #fff;
  border: 2px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
}
